:root {
	--c-background-body: #fff;
	--c-background-screen: #f1f1f1;
	--c-background-hr: #ccc;
	--c-background-button: #e6e6e6;
	--c-background-pre: #eee;
	--c-background-ins: #fff9c0;

	--c-text-screen: #21759b;
	--c-text-input: #666;
	--c-text-input-focus: #111;
	--c-link: #4169e1; //royalblue
	--c-link-visited: #800080; //purple
	--c-link-hover: #191970; //midnightblue
	--c-text-main: #404040;

	--c-border-button: #ccc #ccc #bbb;
	--c-border-button-hover: #ccc #bbb #aaa;
	--c-border-button-focus: #aaa #bbb #bbb;
	--c-border-input: #ccc;
	--c-border-abbr: #666;
}
