:root {
	// stylelint-disable value-keyword-case
	--ff-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	// stylelint-enable value-keyword-case
	--ff-code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	--ff-pre: "Courier 10 Pitch", courier, monospace;

	--lh-body: 1.5;
	--lh-pre: 1.6;
}
