button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: var(--c-background-button);
	border: 1px solid;
	border-color: var(--c-border-button);
	border-radius: 3px;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: var(--c-border-button-hover);
	}

	&:active,
	&:focus {
		border-color: var(--c-border-button-focus);
	}
}
